# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# logs
logs
*.log

# editors
.vscode/
.idea/

# dependencies
node_modules

# typescript build
dist/
*.tsbuildinfo

# testing
coverage
